* {
  margin: 0;
  box-sizing: border-box;
}
header {
  min-height: 68px;
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 35px;
}
header ul {
  display: flex;
  gap: 20px;
}
header ul li {
  list-style-type: none;
}
header ul li a {
  text-decoration: none;
  color: black;
}
.logo-wrapper {
  margin-left: 328px;
}
.first-section {
  min-height: 700px;
  background-image: url(/img/IMAGE\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-top: 257px;
  /* margin-bottom: 65px; */
}
/* .first-section {
    min-height: 700px;
    background-image: url(/img/IMAGE\ \(1\).png);
    padding-top: 257px;
  } */
.first-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 31px;
}
.first-section__btn {
  height: 33px;
  width: 204px;
  border: 1px solid #ffffff;
  background-color: rgba(28, 28, 28, 0);
  padding: 6px 0px 7px 0px;
  display: block;
  margin: 0 auto;
}
.first-section__btn span {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.second-section {
  min-height: 155px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
}
.second-section__wrapper-advantages {
  padding: 0px 109px 0px 69px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
}
.advantage {
  display: flex;
  gap: 20px;
  align-items: center;
}
.advantage p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000000;
}
.second-section__wrapper-advantages .advantage:last-child {
  margin-left: auto;
}
.third-section {
  min-height: 320px;
}
.third-section__wrapper {
  display: flex;
  width: 100%;
}
.third-section__wrapper img {
  padding: 0;
  width: 25%;
}
.design-form {
  display: flex;
}
.first-design-attribute {
  min-height: 657px;
  padding-top: 115px;
  padding-left: 21px;
  gap: 22px;
  margin-bottom: 29px;
}
.design-form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 56px;
  text-align: right;
  color: #000000;
}
.design-form__subtitle {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: right;
  color: #000000;
}
.design-form__price {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: right;
  color: #000000;
}
.design-form__description {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: right;
  color: #525252;
}
.design-form__link {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  text-align: right;
  color: #000000;
  text-decoration: underline;
  padding-bottom: 2px;
}
.design-form__wrapper-for-img {
  min-width: 960px;
  min-height: 542px;
}
.design-form__wrapper-for-img img {
  width: 100%;
}
.first-design-attribute .design-form__title {
  margin-top: 48px;
  margin-bottom: 4px;
}
.first-design-attribute .design-form__subtitle {
  margin-bottom: 19px;
}
.first-design-attribute .design-form__price {
  margin-bottom: 12px;
}
.first-design-attribute .design-form__description {
  margin-bottom: 66px;
}
.text-left {
  text-align: left !important;
}
.second-design-attribute {
  min-height: 542px;
  gap: 38px;
  margin-bottom: 29px;
}
.second-design-attribute .design-form__info {
  order: 1;
}
.second-design-attribute .design-form__title {
  font-size: 30px;
  margin-top: 96px;
  margin-bottom: 4px;
}
.second-design-attribute .design-form__subtitle {
  margin-bottom: 18px;
}
.second-design-attribute .design-form__price {
  margin-bottom: 22px;
}
.second-design-attribute .design-form__description {
  margin-bottom: 24px;
}
.design-form__additional-info {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #54595f;
  text-align: right;
}
.second-design-attribute .design-form__additional-info {
  margin-bottom: 47px;
}
.third-design-attribute {
  gap: 48px;
  margin-bottom: 29px;
}
.third-design-attribute .design-form__inscription {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: right;
  color: #bc1414;
  margin-top: 47px;
  margin-bottom: 20px;
}
.third-design-attribute .design-form__title {
  font-size: 32px;
  margin-bottom: 4px;
}
.third-design-attribute .design-form__subtitle {
  margin-bottom: 18px;
}
.third-design-attribute .design-form__price {
  margin-bottom: 46px;
}
.third-design-attribute .design-form__description {
  margin-bottom: 25px;
}
.third-design-attribute .design-form__additional-info {
  margin-bottom: 48px;
}
.fourth-section {
  margin-bottom: 61px;
  background-color: #f7f7f7;
}
.fourth-design-attribute {
  gap: 48px;
  margin-bottom: 54px;
}
.fourth-design-attribute .design-form__tickets {
  width: 230px;
  height: 70px;
}
.fourth-design-attribute .design-form__info {
  order: 2;
}
.fourth-design-attribute .design-form__title {
  margin-bottom: 4px;
  margin-top: 48px;
}
.fourth-design-attribute .design-form__subtitle {
  margin-bottom: 18px;
}
.fourth-design-attribute .design-form__price {
  margin-bottom: 22px;
}
.fourth-design-attribute .design-form__description {
  margin-bottom: 25px;
}
.fourth-design-attribute .design-form__additional-info {
  margin-bottom: 47px;
}
.fourth-design-attribute .design-form__link {
  margin-bottom: 50px;
}
.fifth-design-attribute {
  gap: 48px;
}
.fifth-design-attribute .design-form__title {
  margin-bottom: 4px;
}
.fifth-design-attribute .design-form__price {
  margin-bottom: 46px;
}
.fifth-design-attribute .design-form__description {
  margin-bottom: 23px;
}
.fifth-design-attribute .design-form__additional-info {
  margin-bottom: 48px;
}
.fifth-section {
  min-width: 665px;
  background-color: #f7f7f7;
  padding-bottom: 97px;
}
.fifth-section__title {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #3a3a3a;
  margin-bottom: 21px;
}
.fifth-section__subtitle {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: #000000;
  margin-bottom: 37px;
}
.fifth-section__wrapper-img {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.fifth-section__img-item {
  min-width: 367px;
  min-height: 550px;
  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
  padding-right: 20px;
}
.fifth-section__inst-info {
  display: flex;
  gap: 4px;
  align-items: center;
  position: absolute;
  top: 41px;
}
.fifth-section__inst-info img {
  width: 14px;
  height: 14px;
}
.inst-info__first {
  left: 280px;
}
.inst-info__second {
  left: 230px;
}
.inst-info__third {
  left: 240px;
}
.fifth-section__inst-info p {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: right;
  color: #ffffff;
}
.fifth-section__cubes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 136px;
}
.fifth-section__cubes-bottom {
  margin-bottom: 0px;
}
.fifth-section__cube {
  width: 9px;
  height: 9px;
  background: #000000;
}
.standart {
  margin-right: 7px;
}
.medium {
  width: 7px;
  height: 7px;
  margin-right: 4px;
}
.small {
  width: 3px;
  height: 3px;
  margin-right: 7px;
}
.fifth-section__review {
  font-family: "Cardo";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #020202;
  margin-bottom: 37px;
}
.fifth-section__reviewer {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-bottom: 53px;
}
.sixth-section {
  min-height: 350px;
}
.sixth-section__content-wrapper {
  width: 100%;
  display: flex;
}
.sixth-section__content-item {
  min-width: 25%;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 54px;
}
.sixth-section__content-item img {
  width: 85px;
  height: 85px;
  margin-bottom: 29px;
}
.sixth-section__content-item h3 {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 12px;
}
.sixth-section__content-item p {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-bottom: 23px;
}
.sixth-section__content-item a {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}
.blue-background {
  background-color: #f8f8f8;
}
.eighth-section {
  min-height: 387px;
  background-color: #f7f7f7;
  padding-top: 133px;
}
.eighth-section__title {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #454545;
  margin-bottom: 41px;
}
.eighth-section__img-wrapper {
  width: 100%;
  padding: 0px 10px;
  margin-bottom: 83px;
}
.eighth-section__img-wrapper img {
  width: 100%;
}
footer {
  min-height: 429px;
  background-color: #e9e9e9;
  padding-top: 55px;
}
.footer__top-part {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 37px;
}
.footer__about,
.footer__help,
.footer__more {
  min-width: 208px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.footer__about h3,
.footer__help h3,
.footer__more h3 {
  margin-bottom: 33px;
  color: #000;
  text-align: center;
  font-size: 21px;
  font-family: Cardo;
  line-height: 21px;
  text-transform: uppercase;
}
.footer__about a,
.footer__help a,
.footer__more a {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-family: Cardo;
  line-height: 20px;
}
.footer__more {
  margin-right: 110px;
}
.footer__recommendation {
  display: flex;
  flex-direction: column;
}
.footer__recommendation p {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-family: Cardo;
  line-height: 27.857px;
  margin-bottom: 15px;
}
.footer__recommendation-inscription {
  min-width: 237px;
  height: 25px;
  border: 1.5px solid black;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__recommendation-inscription span {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-family: Cardo;
  line-height: 15px;
}
.footer__img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer__recommendation-stars-img {
  text-align: center;
}
.footer__for-bottom-part-img-wrapper {
  display: flex;
  gap: 8px;
}
.footer__bottom-part {
  display: flex;
  justify-content: center;
  gap: 90px;
  align-items: center;
}
